* {
    font-family: "Inter", sans-serif;
}

.tab-panel {
    display: flex;
    justify-content: center;
    margin: 40px auto 72px;
    .tab-link {
        width: 232px;
        height: 40px;
        font-weight: 700;
        text-align: center;
        color: #fa5255;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 15px;
        line-height: 43px;
        border-right: 1px solid #fff;
        background-color: #fff2f2;
        transition: all 0.3s linear;

        &:first-child {
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
        }
        &:last-child {
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
        }

        &.active {
            color: #fff;
            background-color: #fa5255;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

.tab-info {
    display: none;
    justify-content: center;
    align-items: flex-start;
    transition: .7s ease;    
    &-view {
        max-width: 460px;
        margin-left: 100px;
        padding-top: 84px;

        .tittle {
            margin: 24px 0;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: #323232;
        }

        .description {
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 1.13px;
            color: darkslategray;
        }

        img {
            width: 73px;
        }
    }

    &.active {
        display: flex;
    }
}
